<div *ngIf="!isLogged; then thenBlock; else elseBlock"></div>

<ng-template #thenBlock>
    <div class="ui-g ui-fluid">
<div class="ui-g-12 ui-md-4">
  <div class="ui-inputgroup">
    <table>
      <tr>
        <td>
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input [(ngModel)]="login" type="text" pInputText placeholder="Username"/>
        </td>
      </tr>
      <tr>
          <td>
              <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
              <input [(ngModel)]="pass" type="password" pPassword />
          </td>
        </tr>
        <tr>
            <td>
                <button pButton type="button" label="Log in" (click)="TryLogIn()"></button>
            </td>
          </tr>
    </table>                  
  </div>
  </div>
</div>
</ng-template>


<ng-template #elseBlock>
    <button pButton type="button" label="Logout" (click)="TryLogout()"></button> 
</ng-template>